@media (min-width: 320px) and(max-width:575px){
    .menu-shrink {
        display: none;
      }
      .mean-container .mean-bar {
        position: absolute;
        z-index: 9999999;
        background:transparent;
        top:50px;
      }
      .btn.default_btn.bok_btn {
        padding: 7px 0;
        margin: 10px 20px 0 30px;
        width: 46%;
        font-size: 16px;
      }
      .header_area {
        z-index: 999;
        }
      .mean-container a.meanmenu-reveal {
          border: 1px solid #e62435 ;
          color: #e62435 ;
          right: 3% !important;
          top: -32px;
      }
      .mean-container a.meanmenu-reveal span {
        background: #e62435 none repeat scroll 0 0;
      }
      .mean-last {
        padding-bottom: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.45);
        a{
          text-align: center !important;
        }
    }
    .hero_area .video_content {
      width: 100%;
      top: 30%;
      left: 1%;
    }
    .hero_area .video_content {
      h1{
        font-size: 34px;
      }
      p {
        font-size: 14px;
        width: 96%;
      }
    }
    .contact_area .contact_form {
      margin-top: 40px;
  }
  .approach_area .ben_mar_bo {
    margin-bottom: 0px;
  }
  .approach_area .approch_box{
    margin-bottom: 30px;
  }
  .log_reg_area .log_reg_box {
    width: 100%;
  }
  .log_reg_area .log_reg_box nav .nav.nav-tabs .nav-link {
    font-size: 18px;
    padding: 8px 0;
  }
  .log_reg_area .log_reg_box .lr_tab_box {
    padding: 0 20px 20px;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box {
    flex-direction: column;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .offer_box {
    width: 66%;
    margin: 0 auto 20px;
  }
  .more_informaion_left {
    margin-bottom: 30px;
  }
    .rms_measurment_area .more_information_box .more_informaion_right .info_btns .btn {
      width: 80%;
      margin: 0 auto 15px;
      font-size: 16px;
  }
  .footer_area {
    padding: 50px 0 40px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn ul li {
    width: 80%;
    margin: 0 auto 15px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn .pop_img span i{
    margin-right: 15px;
  }
  .copyright_area .copy_right h4 {
    font-size: 12px;
  }
  .booking_process_area .profile_detail_cl .cr_booking_proceedure_right .appointment_box {
    overflow-x: auto;
    .appointment_day {
      width: 700px;
    }
    .appoinment_date {
      width: 700px;
    }
  }
  .payment_proceedure_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .payment_proceedure_area #checkout-progress .progress-bar .step::after {
    right: 14%;
    }
  .payment_proceedure_area #checkout-progress .progress-bar .step .step-label {
    margin-left: 40px;
    white-space: break-spaces;
  }
  .payment_proceedure_area #checkout-progress .progress-bar .step .fa-check {
    right: 32%;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .payment .card_vie {
    margin-top: 40px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .lock_pw .lock_icon {
    top: 41%;
  }
  .payment_proceedure_area .booking_details_right {
    margin-top: 40px;
  }
  .payment_proceedure_area #boking_step_1 .process_start .form-group{
    margin-bottom: 15px;
  }
  .payment_proceedure_area #boking_step_1 .process_start .condition{
    margin-top: 15px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .form-group{
    margin-bottom: 15px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .condition_agree {
    margin-bottom: 10px;
  }
  .payment_proceedure_area #boking_step_3 .booking_final input {
    width: 100%;
  }
  .testimonial_area .testimonial_content_wrp .owl-dots {
    width: 100%;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn .default_btn {
    font-size: 13px;
  }
}
@media (min-width: 576px) and(max-width:767px){
  .menu-shrink {
    display: none;
  }
  .mean-container .mean-bar {
    position: absolute;
    z-index: 9999999;
    background:transparent;
    top:50px;
  }
  .header_area {
    z-index: 999;
    }
  .mean-container a.meanmenu-reveal {
      border: 1px solid #e62435 ;
      color: #e62435 ;
      right: 3% !important;
      top: -32px;
  }
  .mean-container a.meanmenu-reveal span {
    background: #e62435 none repeat scroll 0 0;
  }
  .mean-last {
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    a{
      text-align: center !important;
    }
}
.btn.default_btn.bok_btn {
  padding: 7px 0;
  margin: 10px 20px 0 30px;
  width: 30%;
  font-size: 16px;
}
.hero_area .video_content {
  width: 100%;
  left: 1%;
}
.hero_area .video_content {
  h1{
    font-size: 34px;
  }
  p {
    font-size: 14px;
    width: 96%;
  }
}
  .hero_area .hero_slider_box .item .slider_item .slider_text{
    top: 30%;
    left: 3%;
    width: 96%;
    h1{
      font-size: 30px;
    }
    p{
      width: 90%;
    }
  }
  .approach_area .ben_mar_bo {
    margin-bottom: 0px;
  }
  .approach_area .approch_box{
    margin-bottom: 30px;
  }
  .contact_area .contact_form {
    margin-top: 40px;
}
  .log_reg_area .log_reg_box {
    width: 100%;
  }
  .log_reg_area .log_reg_box nav .nav.nav-tabs .nav-link {
    font-size: 18px;
    padding: 8px 0;
  }
  .log_reg_area .log_reg_box .lr_tab_box {
    padding: 0 20px 20px;
  }
  .log_reg_area {
    padding: 30px 0;
}
  .rms_measurment_area .rms_measurment_box .product_offer_box .offer_box .offer_btn .default_btn .btn{
    font-size: 16px;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .offer_box {
    width: 52%;
    margin-right: 30px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .info_btns .btn {
    font-size: 16px;
  }
  .booking_process_area .profile_detail_cl .cr_booking_proceedure_right .appointment_box {
    overflow-x: auto;
    .appointment_day {
      width: 700px;
    }
    .appoinment_date {
      width: 700px;
    }
  }
  .payment_proceedure_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .payment_proceedure_area #checkout-progress .progress-bar .step::after {
    right: 29%;
    }
  .payment_proceedure_area #checkout-progress .progress-bar .step .step-label {
    margin-left: 65px;
  }
  .payment_proceedure_area #checkout-progress .progress-bar .step .fa-check {
    right: 40%;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .payment .card_vie {
    margin-top: 40px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .lock_pw .lock_icon {
    top: 41%;
  }
  .payment_proceedure_area .booking_details_right {
    margin-top: 40px;
  }
  .payment_proceedure_area #boking_step_1 .process_start .form-group{
    margin-bottom: 15px;
  }
  .payment_proceedure_area #boking_step_1 .process_start .condition{
    margin-top: 15px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .form-group{
    margin-bottom: 15px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .condition_agree {
    margin-bottom: 10px;
  }
  .testimonial_area .testimonial_content_wrp .owl-dots {
    width: 100%;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box.res_ofer_box {
    flex-direction: column;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group ul li {
    width: 32.8%;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn ul li {
    margin-bottom: 14px;
  }
}
@media (min-width: 768px) and(max-width:991px){
  .menu-shrink {
    display: none;
  }
  .mean-container .mean-bar {
    position: absolute;
    z-index: 9999999;
    background:transparent;
    top:50px;
  }
  .header_area {
    z-index: 999;
    }
  .mean-container a.meanmenu-reveal {
      border: 1px solid #e62435 ;
      color: #e62435 ;
      right: 3% !important;
      top: -32px;
  }
  .mean-container a.meanmenu-reveal span {
    background: #e62435 none repeat scroll 0 0;
  }
  .mean-last {
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    a{
      text-align: center !important;
    }
}
.btn.default_btn.bok_btn {
  padding: 7px 0;
  margin: 10px 20px 0 30px;
  width: 30%;
  font-size: 16px;
}
.hero_area .video_content {
  width: 80%;
  left: 3%;

  h1{
    font-size: 34px;
  }
  p {
    font-size: 14px;
    width: 96%;
  }
}
  .log_reg_area .log_reg_box {
    width: 100%;
  }
  .log_reg_area .log_reg_box nav .nav.nav-tabs .nav-link {
    font-size: 18px;
    padding: 8px 0;
  }
  .log_reg_area .log_reg_box .lr_tab_box {
    padding: 0 20px 20px;
  }
  .log_reg_area {
    padding: 30px 0;
  }
    .rms_measurment_area .rms_measurment_box .product_offer_box .offer_box {
      width: 30%;
      margin-right: 30px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .info_btns .btn {
    width: 85%;
    font-size: 16px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn ul li {
    width: 80%;
    margin: 0 auto 15px;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .info_btns .btn span i {
    margin-right: 8px;
  }
  .booking_process_area .client_profile_box {
    width: 50%;
    margin: 0 auto 40px;
  }
  .booking_process_area .profile_detail_cl .cr_booking_proceedure_right .appointment_box .appointment_day ul .right_arrow{
    width: 1%;
      i{
        font-size: 12px;
      }
    
  }
  .booking_process_area .profile_detail_cl .cr_booking_proceedure_right .appointment_box .appointment_day ul .left_arrow {
    width: 1%;
    i {
      font-size: 12px;
    }
  }
  .booking_process_area .profile_detail_cl .cr_booking_proceedure_right .appointment_box .appointment_day ul li {
    width: 14%;
  }
  .payment_proceedure_area #boking_step_1 .process_start #sp_request textarea {
    width: 100%;
  }
  .payment_proceedure_area #checkout-progress .progress-bar .step::after {
    right: 27%;
    }
  .payment_proceedure_area #checkout-progress .progress-bar .step .step-label {
    margin-left: 55px;
  }
  .payment_proceedure_area #checkout-progress .progress-bar .step .fa-check {
    right: 38%;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .payment .card_vie {
    margin-top: 40px;
  }
  .payment_proceedure_area #boking_step_2 .payment_confirmation .lock_pw .lock_icon {
    top: 41%;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box.res_ofer_box {
    flex-direction: column;
  }
  .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group ul li {
    width: 32.8%;
  }
  .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn .default_btn {
    font-size: 15px;
  }
}
@media (min-width: 992px) and(max-width:1199px){
  .menu-shrink {
    display: none;
  }
  .mean-last {
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.45);
    a{
      text-align: center !important;
    }
}
  .hero_area .video_content {
    width: 80%;
    left: 3%;

    h1{
      font-size: 40px;
    }
  }
  .rms_measurment_area .more_information_box .more_informaion_right .info_btns .btn {
    width: 70%;
    }
    .payment_proceedure_area #checkout-progress .progress-bar .step::after {
      right: 30%;
      }
    .payment_proceedure_area #checkout-progress .progress-bar .step .step-label {
      margin-left: 70px;
    }
    .payment_proceedure_area #checkout-progress .progress-bar .step .fa-check {
      right: 40%;
    }
    .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 20px;
    }
    .rms_measurment_area .rms_measurment_box .product_offer_box.res_ofer_box {
      flex-direction: column;
    }
    .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group{
      text-align: center;
    }
    .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group ul li {
      width: 15%;
      margin-right: 4px;
      &:last-child{
        margin-right: 0;
      }
    }
    .rms_measurment_area .rms_measurment_box .product_offer_box .addons_btn_group ul li .ma_r {
      margin-right: 0px;
    }
    .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn .default_btn {
      font-size: 16px;
    }
    .rms_measurment_area .more_information_box .more_informaion_right .hdr_photo_btn ul li {
      margin-bottom: 14px;
    }
}

@media (min-width: 320px) and(max-width:575px){
  .testimonial_area .testimonial_content_wrp .owl-dots {
    width: 100%;
  }
}

@media (min-width: 576px) and(max-width:767px){
  .testimonial_area .testimonial_content_wrp .owl-dots {
    width: 100%;
  }
}